.hiddenLetters-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 1em 3em;
    li{
        margin: 0.5em 0.5em;
        font-size: 1.25rem;
    }
}